<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Nine's Movie Theater</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add your custom CSS files -->
    <link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <h1>Team Nine's Movie Theater</h1>
            <nav>
              <ul>
                <li><a href="/">Home</a>
                <li><a  href="/about">About</a>
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                <a id="logout">Logout</a>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
              </ul>
            </nav>
        </div>
    </header>
    <main>
        <!-- Render the sub layout -->
        {{{ body }}}
    </main>
    <footer class="text-center py-3">
        <!-- Footer content here -->
    </footer>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

    <!-- Include Bootstrap JS (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
