<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classic Flix</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add your custom CSS files -->
    <link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <h1>Classic Flix</h1>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a  href="/about">About</a></li>
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                <li><a id="logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
              </ul>
            </nav>
        </div>
    </header>
    <main>
        <!-- Render the sub layout -->
        {{{ body }}}
    </main>
    <footer>
        <div>
            <h2>Movie Theater Tagline at the Bottom of Footer</h2>
            <a class="footer-address" href="https://www.google.com/maps/place/1223+W+Vogel+Ave,+Phoenix,+AZ+85021/@33.5728914,-112.0914349,17z/data=!3m1!4b1!4m6!3m5!1s0x872b6da95d8f9781:0xf998084a960c015a!8m2!3d33.572887!4d-112.08886!16s%2Fg%2F11c5mrj_4d?entry=ttu"  target="_blank">
                Classic Flix Theater
                <br>
                1223 W Vogel Avenue
                <br>
                Phoenix, AZ, 85021
            </a>
            <div class="footer-contact">
                <a href="tel:+6025557845">(602) 555-7845</a>
                <br>
                <a href="mailto:info@classicflix.com">info@classicflix.com</a>
            </div>
        </div>
    </footer>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

    <!-- Include Bootstrap JS (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
