<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classic Flix</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <header class="bg-primary text-white py-2">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="my-0">Classic Flix</h1>
                <nav class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-link text-white" href="/">Home</a>
                    <a class="btn btn-link text-white" href="/about">About</a>
                    {{#if logged_in}}
                    <button class="btn btn-link text-white" id="logout">Logout</button>
                    {{else}}
                    <a class="btn btn-link text-white" href="/login">Login</a>
                    {{/if}}
                </nav>
            </div>
        </div>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer class="text-center py-3">
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
