<div class="info-containers">
<h2>About Classic Flix</h2>
    <div class="about-container">
        <img src="../images/inter_theater.jpg" alt="Outside out Theater">
        <div>
            <h3>Our Mission Statement</h3>
            <p>Opening in 2007, Classic Flix Theater is a place to revisit cult classics, 80s’ blockbusters, foreign arthouse films, and everything in between. Our hope is to showcase the art and wonder of films to not only film enthusiasts, but to everyone.</p>
        </div>
    </div>
    <div class="about-container">
        <img src="../images/outer_theater.jpg" alt="Inside one of our Theater Room">
        <div>
            <h3>Our Theater Setup</h3>
            <p>Our five theater rooms feature comfortable, reclining seats for you to become immersed by our 5.1 Dolby Surround Sound. We also feature an array of both digital and film projectors to get the best image quality out of our selection of films.</p>
        </div>
    </div>
    <div class="about-container">
        <img src="../images/popcorn.jpg" alt="Inside one of our Theater Room">
        <div>
            <h3>Our Sweet Eats</h3>
            <p>No theater is complete without a fully stocked concession stand of tasty snacks for the audience to enjoy. If you’re feeling peckish, come on down to the lobby to enjoy the classics like soda and popcorn or explore more daring options like our gourmet hot dogs and spirits.</p>
        </div>
    </div>
</div>