<h1>Thank you for selecting your seats!</h1>
<p>Your selected seats have been saved:</p>

<button id="ticket-button">Show Tickets</button>
<br>
<div id="qr-code">
  
</div>
<script src="../js/confirmation.js"></script>