/*--REMOVING DEFAULT STYLING--*/
body, h2 {
  margin: 0;
}

a {
  text-decoration: none !important;
}
/*----------------------Andrew Styling Code-----------------------*/
* {
  font-family: 'REM', sans-serif;
}

body {
  background: #29292B;
  /* background: url(../images/paper-texture-inv.png) repeat; */
}

p {
  font-weight: 300;
  color: #F3E8EE;
  margin: 12px 0;
}

h2, a {
  text-transform: uppercase;
}

h2, h3, a {
  text-align: center;
}

h2, h2 a, h3 {
  color: #F3E8EE;
  font-weight: 600;
}

h2 a:hover {
  color: #E66056
}

header {
  background: #D90429;
  margin-bottom: 1%;
}

header h1 {
  margin: 0;
  font-weight: 300;
  width: 380px;
  line-height: 1;
  font-size: 48px;
  color: #F3E8EE;
}

header div {
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: block;
  list-style: none;
  margin: 12px 6px;
}

nav ul li a {
  transition: .25s ease-in-out;
  padding: 12px;
}

/* nav ul li:nth-last-child(1) a {
  border: 2px solid #F3E8EE;
  border-radius: 4px;
} */

nav a {
  color: #F3E8EE;
  font-size: 24px;
  font-weight: 500;
  border-radius: 4px;
}

#movie-container, header div {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 95%;
  max-width: 1512px;
}

.movie-boxes {
  /* border: 2px solid #F3E8EE; */
  /* background: linear-gradient(to right,rgba(0, 71, 66, 0.499), rgba(0, 56, 35, 0.7)), url(paper-texture.png) repeat;*/
  border-radius: 6px;
  width: 31.3333%;
  margin: 1%;
  padding: 1%;
  display: inline-grid;
  align-items: end;
  transition: .25s ease-in-out;
}

.movie-boxes:hover {
  transition: .25s ease-in-out;
  background: rgba(71, 91, 99, 0.5);
  /* box-shadow: 0px 0 15px 0px rgb(243 232 238 / 15%); */
}

.movie-boxes .poster-box {
  display: block;
  text-align: center;
  margin: 18px 0 12px 0;
}

.movie-boxes img {
  max-width: 85%;
  transition: .25s ease-in-out;
}

.movie-boxes:hover img {
  transition: .25s ease-in-out;
  transform: scale(102.5%);
}

.mx-auto {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 48px 0;
}

.mx-auto h1, .mx-auto h2 {
  text-align: center;
}

.mx-auto label, .mx-auto input, .mx-auto button, .main-action-btn .btn {
  width: 100%;
}

.main-action-btn {
  font-size: 24px;
  display: block;
  width: calc(100% - 12px);
  background: #D90429;
  color: #F3E8EE;
  padding: 12px 6px;
  border-radius: 4px;
  transition: .25s ease-in-out;
}

.main-action-btn:hover, .secondary-button:hover {
  color: #F3E8EE !important;
  background: #E66056 !important;
  transition: .25s ease-in-out;
}

nav a:hover {
  transition: .25s ease-in-out;
  background-color: #3A4449;
  color: #F3E8EE !important;
}

.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D90429;
  padding: 6px 12px 6px 6px;
  border-radius: 4px;
  margin: auto;
  transition: .25s ease-in-out;
}

.secondary-button img {
  width: 24px;
  margin-right: 6px;
}

.secondary-button p {
  margin: 0;
}

#theater-container, #confirmation-container {
  background: #3A4449;
  padding: 1%;
  max-width: 1480px;
  width: 95%;
  margin: auto;
  border-radius: 6px;
  height: auto;
  min-height: 74vh;
}

.card {
  margin: auto;
}

.card img {
  width: 240px;
}

.card-title {
  color: #29292B;
}

/*----------------------Peter's Seat Code as Edited by Andrew-----------------------*/

/* Define a style for the seat container */
.seat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  /* Style each row */
  .row {
    margin-bottom: 10px;
    align-items: center;
  }
  
  .row-label {
    font-size: 24px;
    font-weight: 400;
    color: #F3E8EE;
  }
  
  /* Style the seats */
  .seats {
    display: inline-block;
    margin-left: 10px;
  }
  
  /* Style individual seats */
  .seat {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #F3E8EE;
    border-radius: 2px 2px 12px 12px;
    text-align: center;
    line-height: 30px;
    cursor: pointer; /* Add a cursor pointer for interactive selection */
    transition: .25s ease-in-out;
  }

  .seat:hover {
    background:#E66056;
    transition: .25s ease-in-out;
  }
  
  /* Style selected seats */
  .seat.selected {
    background-color: #D90429;
    color: #F3E8EE;
  }
  
  /* Style reserved seats */
  .seat.reserved {
    background-color: #29292B;
    color: #F3E8EE;
    cursor: not-allowed; 
  }
  
/* Style the screen section */
.screen {
    height: 20px; 
    background-color: #29292B;
    width: 520px;
    margin: 20px auto;
    padding: 18px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style the screen text */
  .screen-text {
    color: #fff; 
    font-size: 18px; 
  }

.submit-button {
  width: 420px;
}

/* -----------Responsive------------ */

@media screen and (max-width:1024px) {
  .movie-boxes {
    width: 47%;
    margin: 1.5%;
    padding: 1.5%;
  }
}

@media screen and (max-width:792px) {
  header {
    background-color: darkgreen;
  }
}

@media screen and (max-width: 592px) {
  header {
    background-color: darkmagenta;
  }

  .movie-boxes {
    width: 100%;
  }
}