/*----------------------Andrew Styling Code-----------------------*/
* {
  font-family: 'REM', sans-serif;
}

p {
  font-weight: 300;
}

h1, h2, a {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

#movie-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 95%;
  max-width: 1512px;
}

.movie-boxes {
  border: 1px solid #BBBBBB;
  border-radius: 6px;
  min-width: 360px;
  width: calc(33% - 1.25em);
  margin: 0.75em;
  padding: 0.75em;
  display: inline-grid;
  align-items: end;
}

.movie-boxes .poster-box {
  display: block;
  text-align: center;
  margin: 18px 0;
}

.movie-boxes img {
  max-width: 85%;
}

/* .movie-boxes .ticket-link {
  display: block;
  width: 100%;
  background: #0056b3;
  color: #fff;
  padding: 6px;
} */

.mx-auto {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 48px 0;
}

.mx-auto h1, .mx-auto h2 {
  text-align: center;
}

.mx-auto label, .mx-auto input, .mx-auto button, .movie-boxes .btn {
  width: 100%;
}

.movie-boxes .btn {
  font-size: 24px;
}

/*----------------------Peter's Seat Code-----------------------*/

/* Define a style for the seat container */
.seat-container {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  }
  
  /* Style each row */
  .row {
    margin-bottom: 10px;
  }
  
  /* Style the row
  .row-label {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Style the seats */
  .seats {
    display: inline-block;
    margin-left: 10px;
  }
  
  /* Style individual seats */
  .seat {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer; /* Add a cursor pointer for interactive selection */
  }
  
  /* Style selected seats */
  .seat.selected {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Style reserved seats */
  .seat.reserved {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed; 
  }
  
  
/* Style the screen section */
.screen {
    height: 20px; 
    background-color: #333;
    margin: 20px 300px 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style the screen text */
  .screen-text {
    color: #fff; 
    font-size: 18px; 
  }
  
  /* Style for the submit button container */
.submit-button {
    text-align: center;
    margin-top: 20px; 
  }
  
  /* Style for the submit button */
  #submit-seats {
    padding: 10px 20px;
    background-color: #000205; 
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  /* Hover effect for the submit button */
  #submit-seats:hover {
    background-color: #0056b3; 
  }
  
  .movie-image {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
  }